@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Protest+Riot&display=swap');

.protest-riot-regular {
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  /* font-size: 32px; */
 
  }

  .parent{
    background-color: #101010;
  }
  .gradient-text {
    background: linear-gradient(#3BB2D6,#CCF3FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }

  .gradient-text-exp {
    background: linear-gradient(to left, #21ef9297,#032941);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  
  }
   .project-border{
    border: 1px solid transparent;
    border-image: linear-gradient(-180deg, #47b6d8, #5e1c38) 1;
    /* border-radius: 2px !important; */
  
  
   }
  
   .hover-effect{
    position: relative;
   }
   .hover-effect::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    
   }

 
 